@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637879872053') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e697";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-arrowup:before {
  content: "\e7ee";
}

.icon-arrowleft:before {
  content: "\e7ef";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-close:before {
  content: "\e7fc";
}

